{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    {% if price %}
        <h2>A share of {{ company_name }} ({{ symbol }}) costs {{ "${:,.2f}".format(price) }}</h2>
    {% else %}
        <form action="/quote" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}

{% endblock %}